.wcontainer {
    padding: 20px;
    box-shadow: $box-shadow;
    border-radius: .5rem;
    width: 70%;
    margin-left: 15%;
    

    .weather-box {
        display: flex;
        justify-content: space-around;
        

        #wtext {
            padding: 20px;
            border-radius: .5rem;
            text-align: left;
            width: 60%;
        }

        #wimage {
            text-align: center;
        }
    }

    p {
        font-size: 0.938rem;
    }

    img {
        width: 150%;
    }

}

.button-weather {
    padding: 5px 40px;
    border-radius: 0.3rem;
    background-position: $primaryColor;
    font-weight: 500;
    margin-top: 20px;
    cursor: pointer;

    a {
        color: $primaryColor;
    }

    a:hover {
        color: $secondColor;
    }
}

.button-weather:hover {
    background: #8a6f4d;
    color: $secondColor;
}