$light-color: #f4f4f4;
$primary-color: #f4f4f4;
$secondary-color: #f4f4f4;


@media (max-width: 900px) {
    .first-part {
        flex-direction: column;

        img {
            width: 80%;
        }
    }


    .header-and-list{

        flex-direction: column;
        text-align: center;
    }

    .side {
        width: 150%;
        
        p {
            padding-right: 30px;
            width: 100%;
            margin: 0;
        }
    }

   

}

@media(max-width: 500px) {

    html{
        font-size: 80%;
    }

    .navigation ul{
        flex-direction: column; 
    }

    .acticle {
        img {
            width: 80%;
        }
    }
}