@import "config";
@import "utilities";





*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

body {
    background-color: $light-color;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6em;

}

img {
    width: 100%;
}

// _________________________




.header-and-list{
    // background-image: url(/lab2/images/1.jpg);
    // background-repeat: no-repeat;
    // background-position: center center;
    // background-size: cover;
    background-color: black;
    color: #f4f4f4;
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    border-bottom-right-radius: 35px;
    border-bottom-left-radius: 35px;

    h1 {
        padding: 14px;
        font-style: italic;
        font-size: 25px;
    }

    ul {
        display: flex;
        justify-content: space-around;
        list-style-type: none;
        
    }

    li {
        padding: 15px;
        text-align: center;
    }
}

// ___________________________________

.first-part {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
    padding: 50px 0 0 0;
    
    
    
    
    

    .side-article {
        flex: 30%;
        text-align: left;


        p {
            padding: 20px 0;
        }

        
    }

    .side-image {
        flex: 50%;

        img {
            padding: 25px 0 0 15px;
        }
    }
}

// _______________________________________

.acticle {
    text-align: left;
    padding: 0 0 50px 0;
    
    

    h2 {
        padding: 10px 0;
        text-align: center;
    }
}



.side {
    // text-align: left;
    padding: 20px 0;
    background-color: $primary-color;

    p {
        width: 70%;
    }
}


.blue-link {
    color: blue;
}

.ukr-btr {
    padding: 10px 0;
}

.some {
    padding: 10px 0;
}

.space {
    text-indent: 30px;
}


